# <font color="steelblue">WEB SCRAPPING</font>

Indeed is the job site in the world with over 180 million unique job seekers visiting the site each month.It strives to put job seekers first, giving them free access to search for jobs, post resumes, and research companies.

So for web-scrapping task I will scrap the data of jobs related **Data-Scientist** from **Indeed.com** website and will make a dataframe.
<font color='orange'>link : </font>https://se.indeed.com/jobb?q=data+scientist&start=

For this task,I will use ****BeautifulSoup**** .

### IMPORTING NECESSARY LIBRARIES AND REQUESTS

In [4]:
import bs4
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import numpy as np

### For all jobs in 1st page

In [5]:
# Getting the whole list of jobs in 1st page
re=requests.get("https://se.indeed.com/jobb?q=data+scientist&start=").text
soup = bs(re,'lxml')
new1=pd.DataFrame()   
joblist1=[]
divs = soup.find_all('div',attrs={'class':'job_seen_beacon'})
    
for jobs in divs:
    try:
        z=jobs.find_all('span')
        if (z[0].text)=='ny':
            job_title=z[1].text
        else:
            job_title=z[0].text
            
    except Exception as e:
        job_title=None
        #print('Job Title: ',job_title)
        
        
    try:
        company=jobs.find('span',class_='companyName').text.strip()
            
    except Exception as e:
        company=None
        #print('Company_name: ',company)
        
    try:
        rating=jobs.find('span',attrs={'aria-hidden':'true'}).text.strip()
    except Exception as e:
        rating=np.nan
        #print('Rating: ',rating)
        
    try:
        location=jobs.find("div",class_='companyLocation').text.strip()
    
    except Exception as e:
        location=None
        #print('Company_location: ',location)
        
        
    try:
        summary=jobs.find('div',class_='job-snippet').text.strip()

    except Exception as e:
        summary=None
        #print('Summary: ',summary)
    
    job = {"Job-Title":job_title, "Company-Name":company,"Rating":rating, "Job-Location": location, "Summary":summary}
    
    joblist1.append(job)
        
df1 = pd.DataFrame(joblist1)
new1=new1.append(df1,ignore_index=True)

In [6]:
new1

,Job-Title,Company-Name,Rating,Job-Location,Summary
0,Data Scientist,Curb food,NaN,Stockholm,You will work closely with business stakeholde...
1,We are looking for our next Data Scientist!,Columbus,NaN,Stockholm,Experience building ETL pipelines and data env...
2,Data Scientist,Solita,"4,2",Sverige,Inom affärsområdet har vi förutom ett vasst da...
3,Data Scientist to Coop Digital,Coop,"3,4",Solna,Develop in a full-fledged data science environ...
4,Data Scientist,Quinyx,"5,0",Stockholm,3+ years of working experience in a data scien...
5,Lead Data Scientist (Europe - Remote),Shopify,"3,9",Stockholm•Distans,"Experience creating data product strategies, s..."
6,"Data Scientist, SDK Platform",Spotify,"4,3",Stockholm•Distans,Experience crafting analytical data layers and...
7,Data Scientist,Tibber,NaN,Stockholm,"In this role, you'll among other things work o..."
8,Data Scientist,PriceRunner,NaN,Stockholm,We are looking to welcome you who has a couple...
9,Data Scientist,DBT,"4,1",Stockholm,Support with development of data management an...
10,Data Scientist,Funmed,NaN,Stockholm,Den data FunMed samlar in genom sin verksamhet...
11,Data scientist,Bombayworks,NaN,Stockholm,"Experience in building data integration, data ..."
12,Data Scientist,Evidens,NaN,Stockholm•Tillfälligt på distans,Evidens befinner sig just nu på en spännande t...
13,Data Scientist,Mavenoid,NaN,Jobba hemifrån•Distans,At least two years of industry experience in A...
14,Data Scientist,Northmill,"3,0",Stockholm,A strong passion and great knowledge in cloud ...

In [7]:
# Shape of the 1st dataframe
new1.shape

(15, 5)

In [8]:
# Checking the duplicated values
new1.duplicated().sum()

0

### For all jobs in 2nd,3rd,4th,5th,6th,7th page

In [9]:
#  Getting all the job information of Data-Scientist beside 1st page.

pages=[10,20,30,40,50,60]
new2=pd.DataFrame()
for page in pages:
    r=requests.get("https://se.indeed.com/jobb?q=data+scientist&start={}".format(page)).text
    soup = bs(r,'lxml')
    
    joblist2=[]
    divs = soup.find_all('div',attrs={'class':'job_seen_beacon'})
    
    for jobs in divs:
        try:
            z=jobs.find_all('span')
            if (z[0].text)=='ny':
                job_title=z[1].text
            else:
                job_title=z[0].text
            
        except Exception as e:
            job_title=None
            #print('Job Title: ',job_title)
        
        
        try:
            company=jobs.find('span',class_='companyName').text.strip()
            
        except Exception as e:
            company=None
            #print('Company_name: ',company)
            
        try:
            rating=jobs.find('span',attrs={'aria-hidden':'true'}).text.strip()
        except Exception as e:
            rating=np.nan
            #print('Rating: ',rating)
        
        
        try:
            location=jobs.find("div",class_='companyLocation').text.strip()
    
        except Exception as e:
            location=None
            #print('Company_location: ',location)
        
        
        try:
            summary=jobs.find('div',class_='job-snippet').text.strip()

        except Exception as e:
            summary=None
            #print('Summary: ',summary)
    
        job2 = {"Job-Title":job_title, "Company-Name":company,"Rating":rating, "Job-Location": location, "Summary":summary}
    
        joblist2.append(job2)
        
    df2 = pd.DataFrame(joblist2)
    new2=new2.append(df2,ignore_index=True)

In [10]:
new2

,Job-Title,Company-Name,Rating,Job-Location,Summary
0,Data Scientist - AFRY IT Solutions,AFRY,"4,3",Stockholm,As a passionate and skilled data scientist you...
1,Research Scientist in Power Electronics Conver...,Hitachi ABB Power Grids,"3,0",Västerås,"Conduct laboratory tests, analyze data, and im..."
2,Data Scientist to Production.AI,H&M Group,"3,1",Stockholm,Have at least 3 - 5 years working experience i...
3,Senior Data Scientist,Marginalen Bank,"2,8",Stockholm,"Utöver detta, kommer du i rollen att bearbeta ..."
4,Data Scientist - Consumer Experience,Spotify,"4,3",Göteborg•Tillfälligt på distans,"Familiar with qualitative research methods, ut..."
...,...,...,...,...,...
71,Data Scientist to the worlds biggest streaming...,Academic Work,"3,3",Stockholm,You will bring data and insights into every de...
72,Marketing Data Scientist,Nordic Entertainment Group,NaN,Stockholm,Our technology stack offers great opportunitie...
73,Data Scientist/Senior Data Scientist,Tele2,"4,0",Stockholm,Minimum of 3+ years as data scientist (or equi...
74,Data Scientist till REITAN CONVENIENCE SWEDEN AB,Academic Work,"3,3",Stockholm,Konvertera data till insikter som kan kommunic...
75,Data Scients to worlds biggest music streaming...,Academic Work,"3,3",Stockholm,You have at least 3+ years of experience in a ...

In [11]:
# checking the duplicate values
new2.duplicated().sum()

12

In [12]:
# dropping the duplicate rows and columns
new2=new2.drop_duplicates()

### Creating the dataframe containing data from all pages

In [13]:
# Creating new dataframe which will contain both dataframe('new1' & 'new2')
data_scientist=new1.append(new2,ignore_index=True)

In [14]:
data_scientist.head()

,Job-Title,Company-Name,Rating,Job-Location,Summary
0,Data Scientist,Curb food,NaN,Stockholm,You will work closely with business stakeholde...
1,We are looking for our next Data Scientist!,Columbus,NaN,Stockholm,Experience building ETL pipelines and data env...
2,Data Scientist,Solita,"4,2",Sverige,Inom affärsområdet har vi förutom ett vasst da...
3,Data Scientist to Coop Digital,Coop,"3,4",Solna,Develop in a full-fledged data science environ...
4,Data Scientist,Quinyx,"5,0",Stockholm,3+ years of working experience in a data scien...

In [15]:
#Shape of the dataframe
data_scientist.shape

(79, 5)

In [16]:
# Checking the duplicate values
data_scientist.duplicated().sum()

0

#### As we can see from the dataframe that the column('Rating') has values which is not in proper format.

In [17]:
# checking the rating colums
data_scientist.Rating.head(10)

0    NaN
1    NaN
2    4,2
3    3,4
4    5,0
5    3,9
6    4,3
7    NaN
8    NaN
9    4,1
Name: Rating, dtype: object

From above we can see that,the rating column has datatype of 'object'.So my next task is to change the datatype of rating column and replace the dtype of 'object' with 'float'.

In [18]:
# creating a function which will replace "," with "."
def change(x):
    if type(x)==object:
        x=x
    else:
       
        if x=='':
            x=np.nan
        else:
            x=str(x)
            x=str(x).replace(",",".")
            
    return x

In [19]:
# Applying the function('change') in column ('Rating')
data_scientist["Rating"]=data_scientist['Rating'].apply(change)

In [20]:
# checking the data type of Rating column
data_scientist["Rating"].dtype

dtype('O')

In [21]:
# converting the data type of column ('Rating') from 'Object' type to 'float' type.
data_scientist["Rating"]=data_scientist["Rating"].astype("float")

In [22]:
# checking the data type of column('Rating') after conversion
data_scientist["Rating"].dtype

dtype('float64')

Now I have a cleaned dataframe 'data_scientist' to which I can save as a csv file.

In [23]:
data_scientist

,Job-Title,Company-Name,Rating,Job-Location,Summary
0,Data Scientist,Curb food,NaN,Stockholm,You will work closely with business stakeholde...
1,We are looking for our next Data Scientist!,Columbus,NaN,Stockholm,Experience building ETL pipelines and data env...
2,Data Scientist,Solita,4.2,Sverige,Inom affärsområdet har vi förutom ett vasst da...
3,Data Scientist to Coop Digital,Coop,3.4,Solna,Develop in a full-fledged data science environ...
4,Data Scientist,Quinyx,5.0,Stockholm,3+ years of working experience in a data scien...
...,...,...,...,...,...
74,Data Scientist till Securitas Traineeprogram!,Academic Work,3.3,Malmö,I så fall kommer du att arbeta med machine lea...
75,Data Scientist to the worlds biggest streaming...,Academic Work,3.3,Stockholm,You will bring data and insights into every de...
76,Marketing Data Scientist,Nordic Entertainment Group,NaN,Stockholm,Our technology stack offers great opportunitie...
77,Data Scientist/Senior Data Scientist,Tele2,4.0,Stockholm,Minimum of 3+ years as data scientist (or equi...
78,Data Scientist till REITAN CONVENIENCE SWEDEN AB,Academic Work,3.3,Stockholm,Konvertera data till insikter som kan kommunic...

### Converting the dataframe into csv file

In [24]:
#data_scientist.to_csv("data_scientist_indeed.csv")

### Conclusion:
 We have now cleaned dataset('data_scientist') with which we can do further analysis in future.The dataset contains all the jobs of data-scientist in Indeed.com website.